# Regression

In [ ]:
from sklearn import datasets
import pandas as pd

data = datasets.load_iris()
df = pd.DataFrame(data.data,columns=data.feature_names)
df['target'] = pd.Series(data.target)
# ['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [ ]:
import numpy as np

D = df.to_numpy()[:,[0,2]]
Y = df.to_numpy()[:,3]
n,d = D.shape
Dt = np.hstack((np.ones((n,1)),D))# augmented data matrix
n,d

(150, 2)

$$
\tilde{W} = (\tilde{D}^{T}\tilde{D})^{-1}\tilde{D}^{T}Y
$$

In [ ]:
Wt = np.linalg.inv(Dt.T @ Dt) @ Dt.T @ Y
Wt

array([-0.00899597, -0.08221782,  0.44937611])